<section class="hero">
  <div class="hero-head">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <div class="nav-item">
            Doodle With Mates
          </div>
          <div class="nav-item">
            {{user-list users=users}}
          </div>
        </div>

        <div class="nav-center">

        </div>

        <div class="nav-right nav-menu">
          <div class="nav-item">
            {{#if sessionAccount.account }}
              {{user-item user=sessionAccount.account}}
              {{logout-button}}
            {{/if}}
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <main class="main">
      <div class="holder">
        <div class="canvas-holder holder-item">
          {{canvas-panel color=color socket=socket users=users}}
        </div>
      </div>
    </main>
  </div>
</section>
{{outlet}}
